{
  "extends": "airbnb-base",
  "env": {
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js"
        ],
        "moduleDirectory": [
          "node_modules",
          "."
        ]
      }
    }
  }
}
